@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
    margin: 0px;
}

.HeaderTitle {
    text-align: center;
    font-family: "Shrikhand", serif;
    font-size: 3rem;
    margin: 0px;
}

.search {
    background-color: #d9d9d9;
    text-align: center;
    border-top: solid 3px #bfbfbf;
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
}

.search .search-input {
    border: none;
    background-color: #d9d9d9;
    width: 130px;
    height: auto;
    margin: 0 auto;
    font-family: "Roboto", serif;
    font-size: 1rem;
    text-align: center;
}

.reservation {
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.reservation h2 {
    font-size: 35px;
    margin: 0px;
    font-family: "Roboto", serif;
}

.reservation p {
    font-size: 20px;
    color: gray;
}

.linear-gradient {
    background: linear-gradient( #FF79DA, #9356DC)
}

.reservation button {
    color: white;
    font-weight: bold;
    height: 50px;
    width: 300px;
    margin: 20PX;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 9px #bebebe;
    cursor: pointer;
}

.reservation button:hover {
    opacity: 0.8;
    transform: scale(1.03);
    transition: 0.5S;
    box-shadow: 4px 4px 9px #6e6e6e;
}