@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
    margin: 0px;
}

.HeaderTitle {
    text-align: center;
    font-family: "Shrikhand", serif;
    font-size: 3rem;
    margin: 0px;
}

.search {
    background-color: #d9d9d9;
    text-align: center;
    border-top: solid 3px #bfbfbf;
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
}

.search .search-input {
    border: none;
    background-color: #d9d9d9;
    width: 130px;
    height: auto;
    margin: 0 auto;
    font-family: "Roboto", serif;
    font-size: 1rem;
    text-align: center;
}

.reservation {
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.reservation h2 {
    font-size: 30px;
    padding: 25px 25px 0px 25px;
    margin: 0px;
    font-family: "Roboto", serif;
}

.reservation p {
    font-size: 20px;
    color: gray;
}

.linear-gradient {
    font-size: 1.1rem;
    background: linear-gradient( #FF79DA, #9356DC)
}

.reservation button {
    color: white;
    font-weight: bold;
    height: 60px;
    width: 250px;
    margin: 0px 20PX;
    margin-bottom: 40px;
    border-radius: 25px;
    border: none;
    box-shadow: 4px 4px 9px #bebebe;
    cursor: pointer;
}

.reservation button:hover {
    opacity: 0.8;
    transform: scale(1.03);
    transition: 0.5S;
    box-shadow: 4px 4px 9px #6e6e6e;
}

.content {
    width: 100%;
}

.fonct-title {
    padding: 10px;
    font-family: "Roboto", serif;
}

.content .fonct-btn1 {
    border: solid 1px #e4e3e3;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 10px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    -webkit-box-shadow: 4px 4px 9px #d9d9d9;
    box-shadow: 4px 4px 9px #d9d9d9;
    height: 25px;
    background-color: rgb(240, 240, 240);
    animation: slidedown 2s;
}

.content .fonct-btn1:hover {
    background-color: #ffe9f9;
    -webkit-box-shadow: 4px 4px 4px #d9d9d9;
    box-shadow: 4px 4px 4px #d9d9d9;
}

@keyframes slidedown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content .fonct-btn2 {
    border: solid 1px #e4e3e3;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 10px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    -webkit-box-shadow: 4px 4px 9px #d9d9d9;
    box-shadow: 4px 4px 9px #d9d9d9;
    height: 25px;
    background-color: rgb(240, 240, 240);
    animation: slidedown 2s;
}

.content .fonct-btn2:hover {
    background-color: #ffe9f9;
    -webkit-box-shadow: 4px 4px 4px #d9d9d9;
    box-shadow: 4px 4px 4px #d9d9d9;
}

.content .fonct-btn3 {
    border: solid 1px #e4e3e3;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 10px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    -webkit-box-shadow: 4px 4px 9px #d9d9d9;
    box-shadow: 4px 4px 9px #d9d9d9;
    height: 25px;
    background-color: rgb(240, 240, 240);
    animation: slidedown 2s;
}

.content .fonct-btn3:hover {
    background-color: #ffe9f9;
    -webkit-box-shadow: 4px 4px 4px #d9d9d9;
    box-shadow: 4px 4px 4px #d9d9d9;
}

.content .icon {
    background-color: #9356DC;
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
    position: absolute;
    left: -5px;
    top: 10px;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    margin-right: 10px;
}

.content .icons {
    padding-left: 25px;
    padding-right: 25px;
}

.content-to {
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
}

.content-to-title {
    font-family: "Roboto", serif;
}

.content-rest {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rst-ménil {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    border: solid 1px rgb(218, 217, 217);
    border-radius: 10%;
    box-shadow: 4px 4px 9px #d9d9d9;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
    font-family: "Roboto", serif;
}

a {
    color: black;
    text-decoration: none;
}

.img-rest {
    width: 100%;
    height: 200px;
    border-radius: 10% 10% 0% 0%;
}

.carte-title {
    display: block;
    position: relative;
    padding-left: 10px;
}

.carte-coeur {
    display: flex;
    position: absolute;
    top: 15rem;
    right: 4rem;
    border: none;
}

.carte-coeur2 {
    display: flex;
    position: absolute;
    top: 15rem;
    right: 4rem;
    border: none;
}

.nou {
    position: absolute;
    background-color: #99E2D0;
    width: 5.5rem;
    height: 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.2rem;
    color: #278870;
    top: 0.5rem;
    right: 1rem;
}

.heart {
    border: none;
    text-decoration: none;
    margin-left: 80%;
    font-size: 1.7rem;
    cursor: pointer;
    background-color: white;
    position: relative;
    color: gray;
}

.heart2 {
    border: none;
    margin-left: 80%;
    font-size: 1.7rem;
    color: rgb(196, 84, 196);
    cursor: pointer;
    background-color: white;
}

.carte-coeur :hover {
    animation: coeur 1s forwards ease-in-out;
}

@keyframes coeur {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

footer {
    background-coloR: #333333;
    color: white;
    padding-bottom: 20px;
}

footer .footer-logo {
    font-family: "Shrikhand", serif;
    font-size: 1.3rem;
    padding: 20px 10px 10px 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: white;
    border: none;
}

footer .footer-link {
    font-family: "Roboto", serif;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

footer .footer-menu {
    text-align: left;
}

footer .fas.fa-utensils {
    padding-right: 17px;
}

footer .fas.fa-hands-helping {
    padding-right: 10px;
}

footer .footer-a {
    text-decoration: none;
    color: white;
}