@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
    margin: 0px;
}

.header {
    width: 100%;
    height: 4.5rem;
    z-index: 30;
}

.header-lien {
    width: 100%;
    height: 100%;
}

.header-titre {
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Shrikhand", serif;
}

.header-backindex {
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.pict1 {
    width: 1500px;
}

.pict-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
}