@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
    margin: 0px;
}

.header {
    width: 100%;
    height: 4.5rem;
    z-index: 30;
}

.header-lien {
    width: 100%;
    height: 100%;
}

.header-titre {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Shrikhand", serif;
}

.header-backindex {
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.pict1 {
    width: 1500px;
}

.pict-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
}

.cont-menu1 {
    display: flex;
    flex: 1;
    position: relative;
    top: 280px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(247, 247, 247);
    border-radius: 30px 30px 0px 0px;
}

.cont-menu1 h1 {
    font-family: "Shrikhand", serif;
    font-weight: normal;
    margin-left: 20px;
}

.carte-coeur {
    border: none;
    background-color: rgb(247, 247, 247);
}

.carte-coeur2 {
    border: none;
    background-color: rgb(247, 247, 247);
}

.heart {
    border: none;
    text-decoration: none;
    font-size: 1.7rem;
    cursor: pointer;
    background-color: #f7f7f7;
    margin-top: 20px;
    position: absolute;
    left: 310px;
}

.heart2 {
    border: none;
    font-size: 1.7rem;
    color: rgb(196, 84, 196);
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    left: 310px;
    background-color: #f7f7f7;
}

.carte-coeur :hover {
    animation: coeur 1s forwards ease-in-out;
}

@keyframes coeur {
    0% {
        opacity: 1;
    }
    100% {
        color: #FF79DA;
        opacity: 0;
        height: 0%;
    }
}

.mini-cont1 {
    display: block;
    width: 300px;
    padding: 30px;
    margin-top: 0px;
    font-family: "Roboto", serif;
    animation: slidedown 2s;
}

.mini-cont2 {
    display: block;
    width: 300px;
    padding: 30px;
    margin-top: 0px;
    font-family: "Roboto", serif;
    animation: slidedown 6s;
}

.mini-cont3 {
    display: block;
    width: 300px;
    padding: 30px;
    margin-top: 0px;
    font-family: "Roboto", serif;
    animation: slidedown 8s;
}

@keyframes slidedown {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-weight: normal;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
}

.cont-entrées {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 9px #d9d9d9;
    position: relative;
}

.main {
    display: flex;
    border: none;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 9px #d9d9d9;
    margin-bottom: 15px;
}

.title {
    width: 250px;
    background-color: white;
    border-radius: 20px;
}

.description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    margin-bottom: 10px;
    margin-left: 5px;
}

.price {
    background-color: white;
    width: 50px;
    border-radius: 0px 20px 20px 0px;
    height: 25px;
    margin-top: 55PX;
    font-size: 15px;
    font-weight: bold;
}

.check {
    width: 0px;
    background-color: lightcyan;
    display: none;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 4px 4px 9px #d9d9d9;
    font-size: 20px;
    position: relative;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.check i {
    font-size: 28px;
    padding-top: 5PX;
    animation: rotating 1.5s;
    position: absolute;
    top: 25px;
    right: 20px;
}

.main:hover>.title {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.main:hover>.check {
    display: block;
    width: 70px;
    background-color: #99E2D0;
    color: white;
    text-align: center;
}

h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
    font-size: 15px;
}

.cont-entrées p {
    padding: 10px;
    font-size: 0.8rem;
}

.commander {
    display: block;
    margin: auto;
    background: linear-gradient(#FF79DA, #9356DC);
    text-align: center;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 9px #bebebe;
    cursor: pointer;
    opacity: 1;
}

.commander:hover {
    opacity: 0.6;
    transform: scale(1.1);
    transition: 0.5S;
    box-shadow: 4px 4px 9px black;
}

footer {
    background-coloR: #333333;
    color: white;
    padding-bottom: 20px;
    position: relative;
    top: 260px;
}

footer .footer-logo {
    font-family: "Shrikhand", serif;
    font-size: 1.3rem;
    padding: 20px 10px 10px 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border: none;
}

footer .footer-link {
    font-family: "Roboto", serif;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
}

footer .footer-menu {
    text-align: left;
}

footer .fas.fa-utensils {
    padding-right: 17px;
}

footer .fas.fa-hands-helping {
    padding-right: 10px;
}

footer .footer-a {
    text-decoration: none;
    color: white;
}

@media all and (min-width: 377px) and (max-width: 800px) {
    .cont-menu1 {
        position: relative;
        top: 280px;
        justify-content: space-between;
        background-color: rgb(247, 247, 247);
        border-radius: 30px 30px 0px 0px;
    }
    .cont-menu1 h1 {
        font-family: "Shrikhand", serif;
        font-weight: normal;
        margin-left: 20%;
    }
    .carte-coeur {
        border: none;
        background-color: rgb(247, 247, 247);
    }
    .carte-coeur2 {
        border: none;
        background-color: rgb(247, 247, 247);
    }
    .heart {
        border: none;
        text-decoration: none;
        font-size: 1.7rem;
        cursor: pointer;
        background-color: #eeeeee;
        margin-top: 20px;
        position: absolute;
        left: 80%;
    }
    .heart2 {
        border: none;
        font-size: 1.7rem;
        color: rgb(196, 84, 196);
        cursor: pointer;
        margin-top: 20px;
        position: absolute;
        left: 80%;
    }
    .carte-coeur :hover {
        animation: coeur 1s forwards ease-in-out;
    }
    @keyframes coeur {
        0% {
            opacity: 1;
        }
        100% {
            color: #FF79DA;
            opacity: 0;
            height: 0%;
        }
    }
    .mini-cont1 {
        width: 100%;
        padding: 30px;
        margin-top: 0px;
        font-family: "Roboto", serif;
        animation: slidedown 2s;
    }
    .mini-cont2 {
        width: 100%;
        padding: 30px;
        margin-top: 0px;
        font-family: "Roboto", serif;
        animation: slidedown 6s;
    }
    .mini-cont3 {
        width: 100%;
        padding: 30px;
        margin-top: 0px;
        font-family: "Roboto", serif;
        animation: slidedown 8s;
    }
    @keyframes slidedown {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 1;
        }
    }
    h2 {
        font-weight: normal;
        border-bottom: 3px solid #99E2D0;
        width: 40px;
    }
    .cont-entrées {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 9px #d9d9d9;
        position: relative;
    }
    .main {
        display: flex;
        border: none;
        width: 100%;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 4px 4px 9px #d9d9d9;
        margin-bottom: 15px;
    }
    .title {
        width: 90%;
        background-color: white;
        border-radius: 10px;
    }
    .description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: small;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .price {
        background-color: white;
        width: 50px;
        border-radius: 0px 10px 10px 0px;
        height: 25px;
        margin-top: 55PX;
        font-size: 15px;
        font-weight: bold;
    }
    .check {
        width: 0px;
        background-color: lightcyan;
        display: none;
        border-radius: 10px;
        box-shadow: 4px 4px 9px #d9d9d9;
        font-size: 20px;
        position: relative;
    }
    @keyframes rotating {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
    .check i {
        font-size: 28px;
        padding-top: 5PX;
        animation: rotating 1.5s;
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .main:hover>.title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
    }
    .main:hover>.check {
        display: block;
        border-radius: 0px 10px 10px 0px;
        width: 90px;
        background-color: #99E2D0;
        color: white;
        text-align: center;
    }
    h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 5px;
    }
    .cont-entrées p {
        padding: 10px;
        font-size: 0.8rem;
    }
}

@media all and (min-width: 801px) {
    .cont-menu1 {
        position: relative;
        top: 280px;
        justify-content: center;
        background-color: rgb(247, 247, 247);
        border-radius: 30px 30px 0px 0px;
    }
    .cont-menu1 h1 {
        position: absolute;
        font-family: "Shrikhand", serif;
        font-weight: normal;
        margin-right: 50%;
    }
    .carte-coeur {
        border: none;
        background-color: rgb(247, 247, 247);
    }
    .carte-coeur2 {
        border: none;
        background-color: rgb(247, 247, 247);
    }
    .heart {
        border: none;
        text-decoration: none;
        font-size: 1.7rem;
        cursor: pointer;
        background-color: #eeeeee;
        margin-top: 20px;
        position: absolute;
        left: 80%;
    }
    .heart2 {
        border: none;
        font-size: 1.7rem;
        color: rgb(196, 84, 196);
        cursor: pointer;
        margin-top: 20px;
        position: absolute;
        left: 80%;
    }
    .carte-coeur :hover {
        animation: coeur 1s forwards ease-in-out;
    }
    @keyframes coeur {
        0% {
            opacity: 1;
        }
        100% {
            color: #FF79DA;
            opacity: 0;
            height: 0%;
        }
    }
    .mini-cont1 {
        width: 70%;
        padding: 30px;
        margin-top: 50px;
        font-family: "Roboto", serif;
        animation: slidedown 2s;
    }
    .mini-cont2 {
        width: 70%;
        padding: 30px;
        margin-top: 50px;
        font-family: "Roboto", serif;
        animation: slidedown 6s;
    }
    .mini-cont3 {
        width: 70%;
        padding: 30px;
        margin-top: 0px;
        font-family: "Roboto", serif;
        animation: slidedown 8s;
    }
    @keyframes slidedown {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 1;
        }
    }
    h2 {
        font-weight: normal;
        border-bottom: 3px solid #99E2D0;
        width: 40px;
    }
    .cont-entrées {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 9px #d9d9d9;
        position: relative;
    }
    .main {
        display: flex;
        border: none;
        width: 100%;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 4px 4px 9px #d9d9d9;
        margin-bottom: 15px;
    }
    .title {
        width: 90%;
        background-color: white;
        border-radius: 10px;
    }
    .description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: small;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .price {
        background-color: white;
        width: 50px;
        border-radius: 0px 10px 10px 0px;
        height: 25px;
        margin-top: 55PX;
        margin-left: 30px;
        font-size: 15px;
        font-weight: bold;
    }
    .check {
        width: 0px;
        background-color: lightcyan;
        display: none;
        border-radius: 10px;
        box-shadow: 4px 4px 9px #d9d9d9;
        font-size: 20px;
        position: relative;
    }
    .check i {
        font-size: 28px;
        padding-top: 5PX;
        animation: rotating 1.5s;
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .main:hover>.title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
    }
    .main:hover>.check {
        display: block;
        border-radius: 0px 10px 10px 0px;
        width: 90px;
        background-color: #99E2D0;
        color: white;
        text-align: center;
    }
    h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 5px;
    }
    .cont-entrées p {
        padding: 10px;
        font-size: 0.8rem;
    }
}